.nav_black_box {
  background-color: #323232;
  padding: 10px;
  border-radius: 22px;
}

.nav_green_box {
  background-color: #ade900;
  padding: 4px;
  border-radius: 11px;
}

.header_tag_main {
  background-color: #323232;
  padding: 10px 50px 5px 50px;
  border-radius: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #ffffff !important;
}

.nav_green_scnd_box {
  background-color: #ade900;
  padding: 11px 40px 11px 40px !important;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
  color: #000000;
  border-radius: 31px;
}

.green_hvr {
  padding: 10px 20px !important;
}

.green_hvr:hover {
  background-color: #ade900;
  color: #000000 !important;
  border-radius: 31px;
}

.navbar-toggler {
  background-color: #ade900 !important;
}

.flx_icn {
  display: flex;
}

@media screen and (max-width: 800px) {
  .header_tag_main {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }

  .hedr_logo {
    padding: 0 10px;
  }

  .flx_icn {
    display: flex;
    justify-content: center;
  }
}
